.aws
.bash_history
.bash_logout
.cache
.config/
.docker/
.dotfiles/
.git-credentials
.local/
.mozilla/
.npm/
.nvm/
.oh-my-zsh/
.profile
.pyenv/
.sdkman/
.sudo_as_admin_successful
.vboxclient*
.viminfo
.zcompdump*
.zsh_history
.zshrc.pre-oh-my-zsh
Documents/
Downloads/
snap/
